@font-face {
    font-family: 'Evogria';
    src: url('../fonts/Evogria/Evogria.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Evogria';
	src: url('../fonts/Evogria/Evogria Italic.otf');
	font-weight: normal;
    font-style: italic;
}
@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/Bebas/BebasNeue Regular.otf');
}
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas/AA-BebasNeue.ttf');
    src: url('../fonts/Bebas/BebasNeue Bold.otf');
    src: url('../fonts/Bebas/BebasNeue Book.otf');
    src: url('../fonts/Bebas/BebasNeue Light.otf');
    src: url('../fonts/Bebas/BebasNeue Thin.otf');
    src: url('../fonts/Bebas/BebasNeueCyrillic.ttf');
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.otf');
	font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.otf');
	font-weight: normal;
    font-style: normal;
}